/* ==========================================================================
   PROYECTO: El Tiempo
   AUTOR:    jjossuee008
   VERSION:  1.0
   ========================================================================== */

/* 1. Define la estetica de la base */
body{
    margin: 0;
}

/* 2. Define el estilo del texto de toda la pagina */
*{
    font-family: 'Montserrat', sans-serif;
}

/* 3. Define la estetica de la parte superior */
#sup{
    position: absolute;
    background: linear-gradient(to right, #064ea1, #1d7bda);

    width: 100%;
    height: 100px;
    z-index: 1000;
    box-shadow: 0 0 15px 0 ;

}
 /* 3.1 Define la estetica del titulo localizado en la parte superior */
#sup h1{
    position: relative;

    text-align: center;
    color: rgb(243, 243, 35);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

/* 4. Define la estetica de la parte central, donde aparecera la busqueda y resultado */
#cuerpo{
    display: flex;
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 0;
    background-color: rgb(11, 131, 243);
    align-items: center;
	justify-content: center;
}

/* 4.1 Define la estetica del cuadro de texto donde se indicara la localidad a buscar */
#buscador{
    position: absolute;
    text-align: center;
    

    background: rgba(255, 255, 255, 0.2); 
    
    
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px); 
    
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    
    
    color: white;
    font-size: 20px;
    font-weight: bold;
    outline: none; 

    top: 30px;
    width: 300px;
    height: 100px;
}

/* 4.2 Define la estetica del boton que indicara al programa que empiece a buscar */
#buscar{
    position: absolute;
    text-align: center;
    

    background: rgba(255, 255, 255, 0.2); 
    
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px); 
    
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    
    
    color: white;
    font-size: 16px;
    outline: none; 

    top: 150px;
    width: 100px;
}

/* 4.2.1 Define la estetica del boton cuando el cursos este sobre el */
#buscar:hover{
    background: rgba(127, 150, 152, 0.783); 
}

/* 4.3 Define la estetica del cuadro de resultado */
#respuesta{
    position: absolute;
    top: 250px;
    width: 400px;
    height: 250px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 20px rgb(246, 255, 0);
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(25px);
}

/* 4.3.1 Define la estetica de los elementos que esten en el cudaro de resultado */
#respuesta *{
    color: white;
    text-align: center;
}

/* 4.3.2 Define la estetica de las imagenes que esten en el cuadro de busqueda */
#respuesta img{
    position: absolute;
    width: 100px;
    right: 150px;
}

#prediccion {
    position: absolute;
    top: 250px;
    left: 20px;
    width: 500px;
    height: 250px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(25px);
}


#prediccion table{
    position: relative;
    top: 30px;
    width: 100%;
    max-width: 300px;
    color: white;
}

#prediccion th, #prediccion td {
    padding: 10px;
    text-align: center;
}

#prediccion td img {
    width: 100px;
    height: auto;
    margin-bottom: 5px;
}

#otrosDatos{
    position: absolute;
    top: 250px;
    right: 20px;

    width: 500px;
    height: 250px;

    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(25px);

}

#otrosDatos h5{
    position: relative;
    color: white;
    top: 10px;
    
    text-align: center;
    font-weight: bold;
}


#otrosDatos p{
    position: relative;
    color: white;
    top: 40px;
    left: 20px;
    
    text-align: justify;
    font-weight: bold;
}


